/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    background-color: #ff4646;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Header Styles */
h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Search History Styles */
.search-history {
    margin-bottom: 20px;
}

.search-history h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#search-history-list {
    list-style-type: none;
    padding: 0;
}

.search-history-item {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
}

.search-history-item:hover {
    color: #ff6868;
}

/* Search Form Styles */
.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.city-input {
    padding: 10px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    background-color: #fff; /* White background */
    font-size: 16px;
    width: calc(100% - 40px); /* Adjusted width */
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    outline: none;
    color: #333; /* Darker text color */
}

.city-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 12px 24px; /* Increased padding */
    background-color: #ff4646;
    color: #fff;
    border: none;
    border-radius: 25px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.search-button:hover {
    background-color: #ff6868;
}

/* Weather Display Styles */
.weather-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px; /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.weather-card {
    text-align: center;
}

.weather-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ff4646;
}

.weather-card img {
    margin: 20px 0;
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.weather-card p {
    font-size: 16px;
    margin-bottom: 8px;
}

.weather-card:hover img {
    transform: scale(1.1);
}